@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 125%;
    /* Significantly increased base font size */
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}